<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--As of 13.09.2023 the cl_interp related settings have been disabled by Valve, hence the value is set to 'false'-->
    <!--If you want to use interpolation settings change the value belowe to 'true'-->
    <add key="enableInterpSettings" value="false"/>
    <add key="enableUniversalCfgPath" value="true"/>
  </appSettings>
</configuration>